.logo-header {
    margin-right: 5px;
}

.logoImage-m {
    width: 40%;
    height: 25%;
}

.roomNum, .name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.startBtn {
    width: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid #5169A2;
    border-radius: 10px;
    background-color: #1A1F44;
}

.startBtn:hover {
    border-color: rgb(255, 216, 0);
}

.inputForm {
    translate: 0px -20px;
}


.roomNum-input, .name-input {
    margin: 20px;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #83B4FF;
    translate: 0 -5px;
}