.quiz-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quiz-round {
    padding: 50px;
    font-size: 30px;
    color: white;
    translate: 0 30px;
}