.waitingPart-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.name-header {
    color: white;
    font-size: 20px;
}

.waitingPart-main {
    color: white;
    padding: 10px;
    margin: 30px;
}

.waiting-message {
    padding: 40px;
}

.exitBtn {
    width: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 3px solid #5169A2;
    border-radius: 10px;
    background-color: #1A1F44;
}

.exitBtn:hover {
    border-color: rgb(255, 216, 0);
}

