.kakao-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kakao-login-btn {
    width: 200px; /* 원하는 너비로 설정 */
    height: 50px; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}
