.login-btns {
    display: flex;
    width: 100%;
    padding: 10px 120px 40px 0;
    border: none;
    gap: 45px;
}

.login-footer {
    color: white;
    margin: 20px auto;
    translate: 0px 10px;
}

.notice-link {
    text-decoration: none;
    color: white;
}

.notice-link:hover {
    text-decoration: underline;
}

.team-member {
    position: relative;
    translate: 0 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.5);
}