.login-btns {
    display: flex;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    translate: -35px -0px;
}

.footer {
    color: white;
    margin-top: 20px;
    translate: 0px 50px;
}

