body, html {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
    background-color: black;
    height: 100%;
}

.container-m {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox-m {
    height: 730px;
    width: 550px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    margin-top: 25px;
}

.title-m {
    color: white;
    font-size: 3em;
    margin-bottom: 10px;
    translate: 0px -80px;
}

.logoImage-m {
    width: 50%;
    height: 37%;
}

.smallLogoImage {
    width: 15%;
    height: 15%;
    translate: -30px -20px;
}