* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Jura', sans-serif;
    background-color: black;
    max-width: 100%;
    line-height: 1.6;
}

.container-m {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 904px;
    width: 390px;
}

.loginBox-m {
    width: 450px;
    height: 800px;
    padding: 50px 0 0 10px;
    margin-top: 20px;
}

.title-m {
    color: white;
    font-size: 2.5em;
    margin-bottom: 30px;
    translate: 0 -30px;
}

.smallLogoImage-m {
    width: 25%;
    height: 25%;
    translate: -30px -15px;
}

.backImage-m {
    width: 135%;
    height: 200px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.player-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
}