.container-m {
    display: flex;
    flex-direction: column;
    max-height: 844px;
    max-width: 390px;
}

.Box-m {
    display: flex;
    flex-direction: column;
}

.player-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.smallLogoImage-m {
    width: 20%;
    height: 20%;
    translate: -30px;
}

.backImage-m {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
