.container-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.loginBox-p {
    width: 1000px;
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    margin-top: 25px;
}

.loginTitle-p {
    margin-left: 20px;
}

.logoImage-p {
    width: 30%;
    height: 30%;
}

.title-p {
    color: white;
    font-size: 3em;
    translate: 0px -50px;
}

.backImage-p {
    width: 138%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    translate: 0px 50px;
}