.ReactModal__Content {
    background: none !important;
    border: none !important;
}

/*모달 사이즈*/
.admin-login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.admin-login-header {
    display: flex;
    margin: 5px;
}

.admin-login-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.btn-close {
    width: 10px;
    translate: 145px 9px;
}

/*로그인버튼*/
.admlogin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admlogin-form-group {
    display: flex;
    flex-direction: column;
}

.admlogin-form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary,
.btn-secondary {
    color: white;
    font-weight: bold;
    width: 100px;
}

/*.btn-secondary {*/
/*    background-color: #6c757d;*/
/*    color: white;*/
/*}*/


.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.admLogout-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
