.listening-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.listening-loginBox {
    position: relative;
    width: 1000px;
    height: 500px;
    background-color: #1A1F44;
    border: 3px solid #5169A2;
    padding: 30px;
    border-radius: 100px;
    text-align: center;
    color: white;
    margin-top: 25px;
    z-index: 2;
}

.youtube-player {
    position: relative;
    z-index: 1;
    translate: 0 10px;
}

.listening-round {
    position: relative;
    z-index: 2;
    translate: -5px -10px;
}

.listening-text {
    position: relative;
    z-index: 2;
    font-size: 30px;
    font-weight: bold;
    padding: 60px;
}

.circle-header-listening {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    translate: 90px -10px;
}

/* ListeningQuiz.css */
.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.react-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.listening-main {
    padding: 60px;
}

.sound-icon-2 {
    width: 12%;
    height: 12%;
}
