.normal-btns {
    display: flex;
    justify-content: center;
    translate: 0 80px;
}

.normal-button {
    --background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    background: var(--background);
    z-index: 1;
    position: relative;
    padding: 10px 10px;
    border-radius: .7rem;
    width: 150px;
    height: 100px;
    margin: 15px;
}

.normal-button-info {
    --color: #181818;
    background: var(--color);
    color: white;
    font-size: 30px;
    text-align: center;
    width: 140px;
    height: 90px;
    border-radius: .7rem;
    position: absolute;
    margin: -5px;
    padding: 10px;
}

.normal-button-info:hover button {
    background: none;
}

.normal-button-info:active {
    transform: scale(0.9);
}