.timer-container {
    width: 80%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    translate: 0 60px;
}

.timer-bar {
    height: 100%;
    background-color: red;
    transition: width 1s linear;
}

/* Timer transition */
.timer-bar-enter {
    width: 0;
}

.timer-bar-enter-active {
    width: 100%;
}

.timer-bar-exit {
    width: 100%;
}

.timer-bar-exit-active {
    width: 0;
}