.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.board-box {
    width: 1000px;
    background-color: #1A1F44;
    border: 3px solid #5169A2;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 25px;
}
