.notice-board {
    display: flex;
    flex-direction: column;
    translate: 150px 40px;
    background-color: #1A1F44;
    border: 3px solid #5169A2;
    border-radius: 100px;
    color: white;
    padding: 30px;
}

.notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice-title {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    flex-grow: 1;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
}

.notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center; /* 중앙 정렬 */
}

.notice-table th {
    font-weight: bold;
    font-size: 15px;
}

/*.notice-table tr:nth-child(even) {}*/

/*.notice-table tr:hover {*/
/*    background-color: #f1f1f1;*/
/*}*/

.notice-table tr td a {
    color: #83B4FF;
    text-decoration: none;
}

.notice-table tr td a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination button {
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.pagination button:hover {
    background-color: #f2f2f2;
}

.pagination .active {
    background-color: #83B4FF;
    color: white;
    border: 1px solid #83B4FF;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination button[disabled]:hover {
    text-decoration: underline;
}

.backImage-notice {
    margin-top: 100px;
    width: 130%;
    height: 200px;
    translate: 0px 50px;
}

/* 글 작성 버튼 스타일 추가 */
.write-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.write-btn:hover {
    background-color: #45a049;
}

.write-btn:focus {
    outline: none;
}