.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.quiz-section {
    width: 1000px;
    height: 300px;
    background-color: #1A1F44;
    border: 3px solid #5169A2;
    padding: 40px 30px;
    margin: 20px 10px;
    border-radius: 100px;
    text-align: center;
    color: white;
    translate: 0 20px;
}

.quiz-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quiz-title {

}

.quiz-text {
    padding: 40px;

}

.answer-section {
    padding: 10px;
}