.quiz-result-text {
    text-align: center;
    padding: 10px;
}

.result-list {
    list-style: none;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.player-section {
    padding: 10px;
}

.index-player {
    font-size: 30px;
}

.result-btn {
    display: flex;
    justify-content: center;
}

.endGame-button {
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1em;
    width: 150px;
    height: 60px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    position: fixed;
    bottom: 250px;
}

.endGame-button:active,
.endGame-button:hover {
    outline: 0;
}

.endGame-button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.endGame-button:hover span {
    background: none;
}

.endGame-button:active {
    transform: scale(0.9);
}

.medal-icon {
    width: 7%;
    height: 7%;
    translate: -10px -5px;
}