.quiz-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quiz-text {
    padding: 40px;
    translate: 0 25px;
}

.answer-section {
    padding: 10px;
}