.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 800px;
    height: 300px;
    background-color: #1A1F44;
    border: 3px solid #5169A2;
    padding: 40px 30px;
    margin: 20px 10px;
    border-radius: 100px;
    text-align: center;
    color: white;
    translate: 0 20px;
}

.result-list {
    list-style: none;
    margin-bottom: 100px;
    translate: -15px 10px;
}

.index-player {
    font-size: 30px;
}

.result-btn {
    padding: 30px;
}

.endGame-button {
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    margin: 30px;
    translate: 0 20px;
    background-color: #1A1F44;
    border: 5px solid #5169A2;
    color: white;
}

.endGame-button:hover {
    border-color: #FFD800;
}

.backImage-p-result {
    width: 138%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    translate: 0px 50px;
}

.quiz-result-text {
    translate: 0 15px;
    margin-bottom: 30px;
}

.medal-icon {
    width: 7%;
    height: 7%;
    translate: -10px -5px;
}