.roomSetting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

/*.roomSetting-box {*/
/*    z-index: 0;*/
/*    width: 1000px;*/
/*    background-color: #1A1F44;*/
/*    border: 3px solid #5169A2;*/
/*    padding: 50px;*/
/*    border-radius: 100px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    margin-top: 45px;*/
/*}*/

/*.roomSetting-label {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    color: rgb(231, 206, 255);*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    padding: 30px;*/
/*}*/

.label-section {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.label-section-three {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.roomSetting-label {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(231, 206, 255);
}


.roomSetting-select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(231, 206, 255);
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-left: 100px;
}

.round-count {
    translate: -18px;
}

.roomSetting-select {
    width: 180px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

.roomSetting-buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 50px;
    gap: 50px;
    translate: -5px;
}

.roomSetting-btn {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 17px;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.roomSetting-btn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.roomSetting-btn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.roomSetting-btn:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

.roomSetting-btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.roomSetting-btn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

/*.roomSetting-btn-exit {*/
/*    padding: 10px;*/
/*    margin: 30px;*/
/*    font-size: 25px;*/
/*    font-weight: bold;*/
/*    border: 5px solid #5169A2;*/
/*    border-radius: 30px;*/
/*    background-color: #1A1F44;*/
/*    color: white;*/
/*    width: 150px;*/
/*}*/

/*.roomSetting-btn-exit:hover {*/
/*    border-color: #FFD800;*/
/*}*/

